* {
    box-sizing: border-box;
}

body {

    margin: 40px 0 0 0;


}

header {
    margin-top: 40px;
    background-color: transparent;
    display: flex;
    width: 90%;
    margin: auto;
    height: 40px;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

h3 {
    font-size: 28px;
    color: #fff;
    font-family: 'gilroy-medium';
}

header nav ul li {
    display: inline-block;
    font-size: 18px;
    font-family: 'gilroy-light';
    color: #fff;
    justify-content: space-between;
    padding: 0px 20px;
    font-weight: 100;
}

.fa {
    color: #fff;
    display: block;
    font-size: 24px;
}

.home {
    margin-top: -80px;
    padding-top: 145px;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 1084px;
    background: url(../images/Rectangle1441.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;

}

.title {
    margin: auto 14%;
    color: #fff;
    font-size: 78px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'gilroy-bold';

}

.subtitle {
    margin: 1% 14%;
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-family: 'gilroy-thin';
    line-height: 35px;
    opacity: 0.8;

}


.search-bar {
    padding-top: 30px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}


.search {
    padding: 15px 25px;
    height: 56px;
    width: 344px;
    border-radius: 42px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);

}


input::placeholder {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'gilroy-thin';
}

.circle {
    display: table;
    border-radius: 50%;
    background-color: orange;
    width: 40px;
    height: 40px;
    margin-left: -50px;
    z-index: 1;

}

.fa {
    display: table-cell;
    font-size: 22px;
    vertical-align: middle;
    text-align: center;
}



.column {
    float: left;
    width: 20%;
    align-items: center;
    font-family: 'gilroy-medium';
    padding: 0 16px 0 0;

}

.row {
    display: table;
    width: 100%;

}


.column1 {
    display: table;
    float: left;
    width: 23%;
    margin-left: 5%;
}

.why-title {
    display: table-cell;
    font-size: 42px;
    font-family: 'gilroy-bold';
    color: #1e1e1e;
    vertical-align: middle;
    text-transform: capitalize;
}

.column-title {
    font-family: 'gilroy-bold';
    font-size: 24px;
    color: #1e1e1e;
    opacity: 0.9;
}

.column-sub {
    font-size: 15px;
    color: #1e1e1e;
    opacity: 0.8;
    line-height: 185%;
    font-family: 'gilroy-regular';
}

.more-info {
    font-size: 14px;
    color: #E58411;
    font-family: 'gilroy-regular';

}

.product-slider {
    margin-top: 90px;
    height: 906px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F7F7F7;

}

.glider-contain {
    margin: auto 5%;

}

.product-slider-title {
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 42px;
    text-align: center;
    color: #1e1e1e;
    font-family: 'gilroy-bold';
}

.product-card {
    width: 270px;
    display: flex;
    flex-direction: column;
    margin: auto 1%;
    position: relative;


}

.product-img {
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.product-card-bottom {
    background-color: #fff;
    padding: 25px 25px 25px 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.category-title {
    padding-left: 20px;
    color: #8D8D8D;
    font-size: 16px;
    font-family: 'gilroy-regular';
    align-items: left;
    margin-bottom: 8px;
}

.product-title {
    font-size: 20px;
    font-family: 'gilroy-bold';
    align-items: left;
    padding-left: 20px;
    color: #0D1B39;
    margin-bottom: 8px;
}

.star-rating {
    padding-left: 20px;
    margin-bottom: 20px;
}

.star-rating .fa {
    padding-right: 7px;
    color: #F6B76F;
    font-size: 18px;
}

.product-price {
    height: 50px;
    padding-left: 20px;
    font-size: 21px;
    font-family: 'gilroy-bold';
    color: #0D1B39;
}

.price-text {
    margin-top: 20px;
}

.plus-button {
    float: right;
}

.circle-chevron {
    display: table;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    padding: 0;

}

.circle-chevron .fa {
    display: table-cell;
    vertical-align: middle;
    color: #1e1e1e;
    text-align: center;
    font-size: 20px;
}



.view-all {
    margin: 5% auto;
    color: #E58411;
    display: table;
    font-size: 18px;
    font-family: 'gilroy-regular';
}

.view {
    display: table-cell;
    vertical-align: middle;
}

.view-all img {
    padding-top: 5px;
}

.tabs {
    margin: 0 auto 5% auto;

    width: 348px;
    height: 57px;
    background-color: #eeeeee;
    border-radius: 44px;
}

.experience {
    padding-top: 240px;
    display: flex;
    height: 900px;

}

.exp-img {
    width: 50%;
}

.exp-img-left img {
    width: 629px;
    margin-left: -30px;
    height: 445px;
    border-radius: 20px;
    position: absolute;
    z-index: 4;

}


.back-grey1 {
    margin-top: -63px;
    margin-left: -66px;
    width: 493px;
    height: 422px;
    background-color: #f7f7f7;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}

.back-grey2 {
    width: 495px;
    height: 301px;
    margin-top: 72px;
    margin-left: 168px;
    background-color: #f7f7f7;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
}

.back-grey3 {
    width: 555px;
    height: 423px;
    margin-top: 52px;
    margin-left: 20px;
    background: url(../images/exp-img.jpg);
    border-radius: 20px;
    position: absolute;
    z-index: 3;
    filter: blur(25px);
    opacity: 0.5;
}

.exp-text {
    width: 50%;
    margin-left: 10%;
}

.experiences {
    letter-spacing: 3px;
    font-size: 18px;
    color: #E58411;
    text-transform: uppercase;
    font-family: 'gilroy-medium';
}

.column-sub2 {
    font-size: 18px;
    color: #1e1e1e;
    opacity: 0.8;
    line-height: 185%;
    font-family: 'gilroy-regular';
    padding-right: 15%;
}

.materials {

    padding: 12% 0 8% 5%;

    margin: 0 auto 14% auto;
    display: flex;
    right: 0;
    height: 900px;
    overflow: hidden;

}

.mat-text {
    width: 45%;
}

.mat-img {
    width: 55%;
    position: relative;
    float: right;
}

.mat-img-right img {
    position: absolute;
    width: 629px;
    height: 445px;
    border-radius: 20px;
    right: -185px;
    z-index: 3;


}

.mat-img-right-blur {
    position: absolute;
    width: 555px;
    height: 423px;
    filter: blur(25px);
    border-radius: 49px;
    z-index: 2;
    opacity: 0.5;
    right: -50px;
    margin-top: 30px;

}

.back-grey4 {
    top: -66px;
    right: -220px;
    position: absolute;
    width: 495px;
    height: 422px;
    background-color: #F7F7F7;
    z-index: 1;
    border-radius: 20px;
}

.mat-img-left {

}

.up-img img {
    width: 223px;
    height: 229px;
    border-radius: 14px;
    top: -125px;
    position: absolute;
    z-index: 2;
}

.up-img-blur img{
    z-index: 1;
    width:176px;
    height: 183px;
    filter: blur(25px);
    border-radius: 29px;
    position: absolute;
    left: 25px;
    margin-top: 60px;
    opacity: 0.5;
}

.down-img img {
    top: 140px;
    width: 223px;
    height: 309px;
    border-radius: 14px;
    position: absolute;
    z-index: 2;
}

.down-img-blur img{
    left: 20px;
    margin-top: 35px;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    width:176px;
    height: 301px;
    filter: blur(25px);
    border-radius: 29px;
}